<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      type="text/css"
    />
    <script src="{{ url_for('static', filename='home.js') }}" defer></script>
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <a href="home.html">
          <div class="image-text">
            <span class="image">
              <i class="fa-solid fa-house"></i>
            </span>
  
            <div class="text header-text">
              <span class="project-title">SIGMA</span>
            </div>
          </div>
        </a>
        <i class="fa-solid fa-arrow-left-long"></i>
      </header>
  
        <div class="menu">
          <div class="selection">
            <ul class="selection-links">
              <li class="link">
                <a href="busidea.html">
                  <i class="fa-solid fa-briefcase"></i>
                  <span class="text"> Sell </span>
                </a>
              </li>
              <li class="link">
                <a href="buy.html">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <span class="text"> Buy </span>
                </a>
              </li>
              <li class="link">
                <a href="merge.html">
                  <i class="fa-solid fa-clone"></i>
                  <span class="text"> Merge </span>
                </a>
              </li>
              <li class="link">
                <a href="CDN/conference.html">
                  <i class="fa-solid fa-handshake"></i>
                  <span class="text"> Conference </span>
                </a>
              </li>
  
            <li class="link" id='signoutbutton'>
              <a href="">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="text"> Sign Out </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="home">
      <section>
        <div id="main-page">
          <img id="background-img" src="/static/assets/road.png" />
          <h1 id="main-title">SIGMA</h1>
          <img id="two-chads" src="/static/assets/main_chads.png" />
        </div>
      </section>
      <section>
        <div id="break-1">
          <h1 id="sigmatitle">Supportive Idea Generation for Malaysian Advancement</h1>
          <class id="firstcontent">A platform for trading business ideas</class>
          <p>When it comes to trading business ideas, think smart and stay flexible.</p>
        </div>
      </section>
      
      <section>
        <div id="first-page">
          <img id="background-img" src="/static/assets/auction.png" />
          <div id="selling-title">
            <h1>SELL</h1>
            <h1>YOUR IDEAS!</h1>
          </div>
          <img id="two-selling-chads" src="/static/assets/selling-chads.png" />
        </div>
      </section>
      <section>

        <section id="break-2">
          <div class="ideas-container">
            <div class="idea-column">
              <div class="idea">
                <img src="/static/assets/icon_1.png" alt="Market Gaps">
                <p>Malaysian Startup Idea Marketplace Platform</p>
              </div>
              <div class="idea">
                <img src="/static/assets/icon_3.png" alt="Scalable Models">
                <p>Build scalable business models</p>
              </div>
            </div>
            <div class="idea-column">
              <div class="idea">
                <img src="/static/assets/icon_2.png" alt="Value Propositions">
                <p>Idea Connection and Analysis Platform</p>
              </div>
              <div class="idea">
                <img src="/static/assets/icon_4.png" alt="Growth and Profitability">
                <p>Ensure sustainable growth and profitability</p>
              </div>
            </div>
          </div>
        </section>
        
        
      </section>
      <section>
        <div id="first-page">
          <img id="background-img" src="/static/assets/startup.png" />
          <div id="buying-title">
            <h1>BUY</h1>
            <h1>IDEAS!</h1>
          </div>
          <img id="two-buying-chads" src="/static/assets/buying-chads.png" />
        </div>
      </section>

<div id="break-3">
  <div class="container">
      <div class="step-box">
          <div class="icon-container"><img src="/static/assets/step_1.png" alt="Icon 1" class="icon" /></div>
          <div class="step-content">
              <p>Check the business idea collection.</p>
          </div>
      </div>
      <div class="step-box">
          <div class="icon-container"><img src="/static/assets/step_2.png" alt="Icon 2" class="icon" /></div>
          <div class="step-content">
              <p>Pick your interest.</p>
          </div>
      </div>
      <div class="step-box">
          <div class="icon-container"><img src="/static/assets/step_3.png" alt="Icon 3" class="icon" /></div>
          <div class="step-content">
              <p>Bid for it!.</p>
          </div>
      </div>
  </div>
  <h2>Buy it now or too late</h2>

</div>



      <section>
        <div id="first-page">
          <img id="background-img" src="/static/assets/whiteboard.png" />
          <div id="report-title">
            <h1>Merge</h1>
            <h1></h1>
          </div>
          <img id="two-report-chads" src="/static/assets/report_chads.png" />
        </div>
      </section>
<div id="break-4">
  <h2>Function : IdeaA + IdeaB = Idea(A+B) </h2>
  <div class="container_4">
      <div class="card" id="card-a">
          <div class="card-content">Idea A</div>
      </div>
      <div class="operator">+</div>
      <div class="card" id="card-b">
          <div class="card-content">Idea B</div>
      </div>
      <div class="operator">=</div>
      <div class="card" id="card-ab">
          <div class="card-content">Idea (A+B)</div>
      </div>
  </div>
</div>



      <section>
        <div id="first-page">
          <img id="background-img" src="/static/assets/conference.png" />
          <div id="conference-title">
            <h1>HAVE</h1>
            <h1>CONFERENCES</h1>
          </div>
          <img id="two-conference-chads" src="/static/assets/conference-chads.png" />
        </div>
      </section>
<div id="break-5">
  <div class="container">
    <div class="icon-container">
      <img src="/static/assets/seller.png" alt="Seller" class="icon" />
      <span class="label">Buyer</span>
    </div>

    <div class="icon-container">
      <div class="arrow" id="arrow-left"></div>

    </div>
    <div class="icon-container">
      <img src="/static/assets/meeting.png" alt="Negotiation" class="icon negotiation-icon" />
    </div>

    <div class="icon-container">

    <div class="arrow" id="arrow-right"></div>
</div>
    <div class="icon-container">
      <img src="/static/assets/buyer.png" alt="Buyer" class="icon" />
      <span class="label">Seller</span>
    </div>
  </div>
</div>


    </section>

    <script src={{ url_for('static', filename='home.js') }}></script>

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      import {
        getAuth,
        onAuthStateChanged,
        createUserWithEmailAndPassword,
        signInWithEmailAndPassword,
        signOut,
      } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";
      import {
        getDatabase,
        set,
        ref,
        update,
      } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-database.js";

      const firebaseConfig = {
  apiKey: "AIzaSyCHM89ye4am5OJ8_vqmB06jGe94nudRwfw",
  authDomain: "sigma-cd3c3.firebaseapp.com",
  databaseURL: "https://sigma-cd3c3-default-rtdb.firebaseio.com",
  projectId: "sigma-cd3c3",
  storageBucket: "sigma-cd3c3.appspot.com",
  messagingSenderId: "408292470548",
  appId: "1:408292470548:web:a485bd0b2775552c7bdc01",
  measurementId: "G-DKWKJNTY66"
};

      let UserCreds = JSON.parse(sessionStorage.getItem("user-creds"));
      let UserInfo = JSON.parse(sessionStorage.getItem("user-info"));

      let SignoutBtn = document.getElementById("signoutbutton");



      // const auth = getAuth();
      const app = initializeApp(firebaseConfig);
      const auth = getAuth();
      const database = getDatabase(app);
      const dbref = ref(database);

      auth.onAuthStateChanged((user) => {
        if (user) {
          // User is signed in
          const uid = user.uid;
          console.log("User is signed in:", uid);
          // Update UI or perform actions for signed-in user
        } else {
          // User is signed out
          console.log("User is signed out");
          // Update UI or perform actions for signed-out user
        }
      });

      window.addEventListener("load", CheckCred);
      SignoutBtn.addEventListener("click", Signout);
    </script>
  </body>
</html>
