<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="./styles/login.css" />

    <title></title>
  </head>
  <body>
    <div class="form-container">
        <form id="mainForm">
            <div class="container">

                <div class="input-wrapper">
                    <h1>Login</h1>
                    <p>Fill in this form</p>
                    <hr>
        
                    
                    <label for="email">
                        <i class="fa-solid fa-envelope"></i>
                        <b>Email</b>
                    </label>
                    <input type="text" placeholder="Enter email" name="email" class="entry" id="email" required>
        
                    <label>
                        <i class="fa-solid fa-lock"></i>
                        <b>Password</b>
                    </label>
                    <input type="password" placeholder="Password" name="psw" class="entry" id="psw" required>
        
                    <hr>
                    <p>By logging in you agree to our <a href="#">Terms & Privacy</a>.</p>
        
                    <button type="button" id="submitData" name="submitData" class="loginbtn">Log In</button>
                </div>
            </div>
            <div class="container signup">
                <p>Don't have an account yet? <a href="register.html">Sign up</a></p>
            </div>
        </form>

        <div class="img-wrapper">
            <img src="home-img.png" alt="img">
            <div class="text-wrapper">
                <h1 id="welcome-msg">Welcome!</h1>
                <h2 id="introduction-msg">Please enter your information to continue</h2>
            </div>
    
        </div>


    </div>
    
    
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
        import { 
            getAuth, 
            onAuthStateChanged,
            createUserWithEmailAndPassword, 
            signInWithEmailAndPassword, 
            signOut 
        } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";
        import { getDatabase, set, get, ref, update, child } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-database.js";

        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyDjkrTL8wn8RSLjWoHbq6FVdpBBPJEjXZg",
            authDomain: "sigma-50b08.firebaseapp.com",
            databaseURL: "https://sigma-50b08-default-rtdb.firebaseio.com",
            projectId: "sigma-50b08",
            storageBucket: "sigma-50b08.appspot.com",
            messagingSenderId: "881262508411",
            appId: "1:881262508411:web:573e358cf20526dcfc25de"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const auth = getAuth();
        const database = getDatabase(app);
        const dbref = ref(database);

        submitData.addEventListener('click',(e)=>{

            var email = document.getElementById('email').value;
            var password = document.getElementById('psw').value;

            // createUserWithEmailAndPassword(auth, email, password)
            //     .then((userCredential) => {
            //         // Signed up 
            //         const user = userCredential.user;
            //         // ... user.uid
            //         set(ref(database, 'users/' + user.uid), {
            //             email: email,
            //             password: password
            //         })
            //         .then(() => {
            //             // Data saved successfully!
            //             alert('user created successfully');
            //         })
            //         .catch((error) => {
            //             // The write failed...
            //             alert(error);
            //         });
            //     })
            //     .catch((error) => {
            //         const errorCode = error.code;
            //         const errorMessage = error.message;
            //         // ..
            //         alert(errorMessage);
            //     });
            

            let SignInUser = evt => {
                evt.preventDefault();

                signInWithEmailAndPassword(auth, email, password)
                .then((userCredential) => {
                    const user = userCredential.user;

                    get(child(dbref, 'users/' + user.uid)).then((snapshot)=>{
                        if(snapshot.exists){
                            sessionStorage.setItem("user-info", JSON.stringify({
                                firstname: snapshot.val().firstname,
                                lastname: snapshot.val().lastname
                            }))
                            sessionStorage.setItem("user-creds", JSON.stringify(user));
                            window.location.href = 'home.html';
                        }
                    })
                    // // Signed in 
                    // const user = userCredential.user;
                    // // ...

                    // var lgDate = new Date();

                    // update(ref(database, 'users/' + user.uid), {
                    //     last_login: lgDate
                    // })
                    // .then(() => {
                    //     // Data saved successfully!
                    //     alert('user logged in successfully');
                    // })
                    // .catch((error) => {
                    //     // The write failed...
                    //     alert(error);
                    // });
                })
                .catch((error) => {
                    alert(error.message);
                    console.log(error.code);
                    console.log(error.message);

                    // const errorCode = error.code;
                    // const errorMessage = error.message;
                    // alert(errorMessage);
                });
            }
            

            submitData.addEventListener('click', SignInUser);

            // signOut(auth).then(() => {
            //     console.log("User is signed out");

            //     //sign-out successful
            // }).catch((error) => {
            //     //an error happened
            //     alert(error.message);
            //         console.log(error.code);
            //         console.log(error.message);
            // });

        });

        // onAuthStateChanged(auth, user=>{
        //   if (user) {
        //       // var user = firebase.auth().currentUser;
        //       if (user != null) {
        //         console.log("User is signed in:", user);

        //           // var email = user.email;
        //           // var emailVerified = user.emailVerified;
        //           // var uid = user.uid
        //           // displayName.innerText = 'Welcome, ' + email
        //           // window.location = 'home.html'
        //       }         
        //   } else {
        //     console.log("User is signed out");
        //       // console.log('Not connected')
        //   }
        // })

        // const auth = getAuth;

        auth.onAuthStateChanged((user) => {
            if (user) {
            // User is signed in
            const uid = user.uid;
            console.log("User is signed in:", uid);
            // Update UI or perform actions for signed-in user
            } else {
            // User is signed out
            console.log("User is signed out");
            // Update UI or perform actions for signed-out user
            }
        });
    </script>
  </body>
</html>



