<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Auction Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auction-page.css') }}">
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      type="text/css"
    />
    <!-- <script src={{ url_for('static', filename='script.js') }}defer></script> -->
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <a href="home.html">
          <div class="image-text">
            <span class="image">
              <i class="fa-solid fa-house"></i>
            </span>

            <div class="text header-text">
              <span class="project-title">SIGMA</span>
            </div>
          </div>
        </a>
        <i class="fa-solid fa-arrow-left-long"></i>
      </header>

      <div class="menu">
        <div class="selection">
          <ul class="selection-links">
            <li class="link">
              <a href="busidea.html">
                <i class="fa-solid fa-briefcase"></i>
                <span class="text"> Sell </span>
              </a>
            </li>
            <li class="link">
              <a href="buy.html">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="text"> Buy </span>
              </a>
            </li>
            <li class="link">
              <a href="merge.html">
                <i class="fa-solid fa-clone"></i>
                <span class="text"> Merge </span>
              </a>
            </li>
            <li class="link">
              <a href="https://junjie237.github.io/zoomconferenceAPI/">
                <i class="fa-solid fa-handshake"></i>
                <span class="text"> Conference </span>
              </a>
            </li>

            <li class="link" id='signoutbutton'>
              <a href="">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="text"> Sign Out </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="home">
      <div class="home-wrapper">
        <div class="home-title">
          <span class="image">
            <i class="fa-solid fa-gavel"></i>
          </span>

          <div class="text">Auction</div>
        </div>

        <div class="product-name">
          <div class="name" id="main-product-name">Product Name</div>
          <!-- <h2 id="msg"></h2> -->
          <h2 id="greet"></h2>
        </div>

        <div class="home-wrapper-mid">
          <div class="enter-bid" id="enter-bid">
            <img class="bid-image-unique" id="bid-img-unique" src="" alt="" />

            <div class="bid-container">
              <form action="" class="form" id="bidForm">
                <div class="input-group">
                  <input type="text" class="input" id="bid" placeholder="Enter bid here..."/>
                  <!-- <label class="placeholder">Bid</label> -->
                </div>

                <button type="submit" class="place-bid" id="submitData">
                  Place bid
                </button>
              </form>
            </div>
          </div>
          <div class="highest-bid">
            <div class="product-info">
              <h1 id="main-product">Product Information</h1>
              <div class="product-desc-container">
                <h2 class="product-desc" id="main-product-desc">
                  This is a paragraph of product description.
                </h2>
              </div>
            </div>
            <div class="highest-bid-price">
              <div class="price-container">
                <i class="fa-solid fa-circle-exclamation"></i>
                <h2 id="highest-bid">Highest bid</h2>
                <h3 id="highest-bid-entry"></h3>
              </div>
            </div>
          </div>
        </div>

        <!-- <section>
        <div class="swiper mySwiper carousel">
          <div class="swiper-wrapper content">
            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="dallebing.png" alt="">
                </div>
                <div class="product-desc">
                  <div class="product-name">Product 1</div>
                  <div class="time-uploaded">1 hour ago</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide card">
              <div class="card-content">
                <div class="image">
                  <img src="dallebing.png" alt="">
                </div>
                <div class="product-desc">
                  <div class="product-name">Product 1</div>
                  <div class="time-uploaded">1 hour ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-scrollbar"></div>
        <div class="swiper-pagination"></div>
      </section> -->

        <div class="outer-wrapper">
          <div class="wrapper">
            <i id="left" class="fa-solid fa-arrow-left"></i>

            <ul class="carousel">
              <li class="card" id="card">
                <div class="img">
                  <img class="bid-image" id="bid-img-1" src="" alt="" />

                  <!-- <img src="dallebing.png" alt="img" draggable="false" /> -->
                </div>
                <h2 id="product-1"></h2>
                <span>2 hours ago</span>
              </li>
              <li class="card" id="card">
                <div class="img">
                  <img class="bid-image" id="bid-img-2" src="" alt="" />
                  <!-- <img src="dallebing.png" alt="img" draggable="false" /> -->
                </div>
                <h2 id="product-2"></h2>
                <span>2 hours ago</span>
              </li>
              <li class="card" id="card">
                <div class="img">
                  <img class="bid-image" id="bid-img-3" src="" alt="" />
                  <!-- <img src="dallebing.png" alt="img" draggable="false" /> -->
                </div>
                <h2 id="product-3"></h2>
                <span>2 hours ago</span>
              </li>
              <li class="card" id="card">
                <div class="img">
                  <img class="bid-image" id="bid-img-4" src="" alt="" />
                  <!-- <img src="dallebing.png" alt="img" draggable="false" /> -->
                </div>
                <h2 id="product-4"></h2>
                <span>2 hours ago</span>
              </li>
            </ul>

            <i id="right" class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>

      <div class="home-side-info">
        <div class="activities-wrapper">
          <div class="top-bidders">
            <h1 class="bidders-tag">Top Bidders</h1>

            <ul class="bidders-list">
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person1"></h4> has placed the highest bid of $<h4 id="bid1"></h4> on this post</span>
                </div>
              </li>
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person2"></h4> has placed the second highest bid of $<h4 id="bid2"></h4> on this post</span>
                </div>
              </li>
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person3"></h4> has placed the bid of $<h4 id="bid3"></h4> on this post</span>
                </div>
              </li>
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person4"></h4> has placed the bid of $<h4 id="bid4"></h4> on this post</span>
                </div>
              </li>
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person5"></h4> has placed the bid of $<h4 id="bid5"></h4> on this post</span>
                </div>
              </li>
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person6"></h4> has placed the bid of $<h4 id="bid6"></h4> on this post</span>
                </div>
              </li>
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person7"></h4> has placed the bid of $<h4 id="bid7"></h4> on this post</span>
                </div>
              </li>
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person8"></h4> has placed the bid of $<h4 id="bid8"></h4> on this post</span>
                </div>
              </li>
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person9"></h4> has placed the bid of $<h4 id="bid9"></h4> on this post</span>
                </div>
              </li>
              <li class="bidder">
                <div class="activities-img">
                  <img src="/static/assets/profilePic.jpg" alt="img" />
                </div>
                <div class="activities-detailed-info">
                  <h2>New bid appeared</h2>
                  <span><h4 id="person10"></h4> has placed the bid of $<h4 id="bid10"></h4> on this post</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script> -->

    <script src={{ url_for('static', filename='auction.js') }}></script>

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      import {
        getAuth,
        onAuthStateChanged,
        createUserWithEmailAndPassword,
        signInWithEmailAndPassword,
        signOut
      } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";
      import {
        getDatabase,
        set,
        ref,
        update,
        onValue,
        orderByChild,
        equalTo,
        get,
        query
      } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-database.js";

      const firebaseConfig = {
  apiKey: "AIzaSyCHM89ye4am5OJ8_vqmB06jGe94nudRwfw",
  authDomain: "sigma-cd3c3.firebaseapp.com",
  databaseURL: "https://sigma-cd3c3-default-rtdb.firebaseio.com",
  projectId: "sigma-cd3c3",
  storageBucket: "sigma-cd3c3.appspot.com",
  messagingSenderId: "408292470548",
  appId: "1:408292470548:web:a485bd0b2775552c7bdc01",
  measurementId: "G-DKWKJNTY66"
};
// const auth = getAuth();
const app = initializeApp(firebaseConfig);
      const auth = getAuth();
      const database = getDatabase(app);
      const dbref = ref(database);
      let UserCreds = JSON.parse(sessionStorage.getItem("user-creds"));
      let UserInfo = JSON.parse(sessionStorage.getItem("user-info"));

      let MsgHead = document.getElementById("msg");
      let GreetHead = document.getElementById("greet");
      let SignoutBtn = document.getElementById("signoutbutton");
      
      let Signout = () => {
        sessionStorage.removeItem("user-creds");
        sessionStorage.removeItem("user-info");
        signOut(auth);
        window.location.href = "login.html";
      };

      let CheckCred = () => {
        if (!sessionStorage.getItem("user-creds"))
          window.location.href = "login.html";
      };

      auth.onAuthStateChanged((user) => {
      if (user) {
        // User is signed in
        const uid = user.uid;
        console.log("User is signed in:", uid);
        // Update UI or perform actions for signed-in user
      } else {
        // User is signed out
        console.log("User is signed out");
        // Update UI or perform actions for signed-out user
      }
    });

    window.addEventListener('load', CheckCred);
    SignoutBtn.addEventListener('click', Signout); 



      // MsgHead.innerText = `user with email "${UserCreds.email}" logged in`;
      GreetHead.innerText = `Welcome ${
        UserInfo.firstname + " " + UserInfo.lastname
      }!`;


      

      auth.onAuthStateChanged((user) => {
        if (user) {
          // User is signed in
          const uid = user.uid;
          console.log("User is signed in:", uid);
          // Update UI or perform actions for signed-in user
        } else {
          // User is signed out
          console.log("User is signed out");
          // Update UI or perform actions for signed-out user
        }
      });

      //////////////////////////////////////////////////////////////////////////
    const params = new URLSearchParams(window.location.search);
    const uid = params.get('uid');
    const getIdeaByUid = async (uid) => {

    //ref
    const ideaRef = ref(database, `ideas/${uid}`);
    try {

    //fetch data
    const snapshot = await get(ideaRef);

    //wrap data
   if (snapshot.exists()) {
    return { [uid]: snapshot.val() }; 
     } else {
     console.log("No data available for this UID");
    return null;
        }
    } catch (error) {
    console.error(error);
    return null;
    }
  };

  const displayIdeas = (ideas) => {
  // Get the heading and passage elements from the DOM.
  const productname = document.getElementById('main-product-name');
  const bidimage= document.getElementById('bid-img-unique');
  const productparagraph= document.getElementById('main-product-desc');
  const productinfo= document.getElementById('main-product');
  

  // Check if the elements exist in the DOM.
  if (!productname || !bidimage || !productparagraph || !productinfo ) {
    console.error('The heading or passage element does not exist in the DOM');
    return;
  }

  if (!ideas) {
    productname.textContent = 'No Idea Title';
    bidimage.src = ''; // Clear the image source
    productparagraph.textContent='No Product';
    return;
  }

  // Extract the first entry of the ideas object.
  const [uid, idea] = Object.entries(ideas)[0];

  // Update the heading and passage with the idea title and description.
  productname.textContent = idea.ideaTitle || "No Idea Title";
  productparagraph.textContent = `Category: ${idea.ideaDescription || 'No Category'}`;
  productinfo.textContent = idea.ideaTitle || "No Idea Title"

  if (idea.ideaTitle ) {
    bidimage.src = `data:image/png;base64,${idea.image}`
    bidimage.alt = 'Idea Image'; // Set alt text for accessibility
  } else {
    bidimage.src = ''; // Clear the image source if no URL is provided
  }

  


};
if (uid) {
  getIdeaByUid(uid).then(idea => {
    displayIdeas(idea);
  });
} else {
  console.log('UID parameter is missing in the URL');
}

const arrayRef = ref(database, `ideas/${uid}/bid`);
console.log(uid)
console.log(arrayRef)
const bidArray = [];
onValue(arrayRef, (snapshot) => {
bidArray.length = 0;
snapshot.forEach((childSnapshot) => {
const keyItem = childSnapshot.key;
const dataItem = childSnapshot.val();
bidArray.push({ key: keyItem, data: dataItem });
 });
console.log(bidArray)
bidArray.sort((a, b) => b.data.bid - a.data.bid);

updateUIWithBids(bidArray, bidArray.length);
});





      ///////////////////////////////////////////////////////////////////////
      //Reference to ideas in firebase
      const itemsRef = ref(database, 'ideas');
      var innerTextArr = [];
      var innerBidArr = [];
      var innerDescArr = [];

      // Attach an event listener to retrieve the items
      const itemsArray = [];
      onValue(itemsRef, (snapshot) => {
        itemsArray.length = 0;
        innerTextArr.length = 0;
        innerBidArr.length = 0;
        innerDescArr.length = 0;
        snapshot.forEach((childSnapshot) => {
          const itemKey = childSnapshot.key;
          const itemData = childSnapshot.val();
          itemsArray.push({ key: itemKey, data: itemData });
          innerTextArr.push(itemData.ideaTitle);
          innerBidArr.push(itemData.image);
          innerDescArr.push(itemData.ideaDescription);
        });

        //console.log(itemsArray);
        //console.log(innerTextArr);
        //console.log(innerBidArr);
        //console.log(innerDescArr);
        //console.log("HI");


        let product1 = document.getElementById('product-1');
        let product2 = document.getElementById('product-2');
        let product3 = document.getElementById('product-3');
        let product4 = document.getElementById('product-4');

        //console.log("Product-1" + product1);

        product1.innerText = itemsArray[0].data.ideaTitle;
        product2.innerText = itemsArray[1].data.ideaTitle;
        product3.innerText = itemsArray[2].data.ideaTitle;
        product4.innerText = itemsArray[3].data.ideaTitle;

        let bidimg1 = document.getElementById('bid-img-1');
        let bidimg2 = document.getElementById('bid-img-2');
        let bidimg3 = document.getElementById('bid-img-3');
        let bidimg4 = document.getElementById('bid-img-4');

        bidimg1.src = `data:image/png;base64,${itemsArray[0].data.image}`;
        bidimg2.src = `data:image/png;base64,${itemsArray[1].data.image}`;
        bidimg3.src = `data:image/png;base64,${itemsArray[2].data.image}`;
        bidimg4.src = `data:image/png;base64,${itemsArray[3].data.image}`;
      });


      function addNewItem(passedText) {

        var currentProduct = document.querySelector('.product-info h1').innerText;
        var cnt = 0;
        var uniqueNumArr = generateUniqueNumbers(itemsArray.length, itemsArray.length-1);

        //console.log(innerTextArr.length);

        for(let i=0; i < innerTextArr.length; i++)
        {
          var carousel = document.querySelector('.carousel');
          var carouselItems = carousel.querySelectorAll('.card');

          var homeWrapper = document.querySelector('.home-wrapper-mid');
          var enterBid = document.querySelector('.enter-bid');

          //create new item
          var newItem = document.createElement('li');
          newItem.className = 'card';
          newItem.id = 'card';

          var ideaName = innerTextArr[uniqueNumArr[i]];
          var bidName = innerBidArr[uniqueNumArr[i]];

          // Set the content for the new item (you can customize this part)
          newItem.innerHTML = `
            <div class="img">
              <img class="card-image" src="data:image/png;base64,${bidName}" id="bid-img-${i+1}" draggable="false"/>
            </div>
            <h2>${ideaName}</h2>
            <span>Just added</span>
          `;

          if(innerTextArr[uniqueNumArr[i]] === passedText)
          {
            //console.log("Inner text: " + innerTextArr[uniqueNumArr[i]]);
            //console.log("Passed text: " + passedText);

            var newBidItem = document.createElement('div');
            newBidItem.className = 'enter-bid';
            newBidItem.id = 'enter-bid';
            newBidItem.innerHTML = `
                <img class="bid-image-unique" src="data:image/png;base64,${bidName}" id="bid-img-unique"/>
                <div class="bid-container">
                  <form action="" class="form" id="bidForm">
                    <div class="input-group">
                      <input type="text" class="input" id="bid" placeholder="Enter bid here..."/>
                      <!-- <label class="placeholder">Bid</label> -->
                    </div>

                    <button type="submit" class="place-bid" id="submitData">
                      Place bid
                    </button>
                  </form>
                </div>
            `;
            homeWrapper.removeChild(enterBid);
            var firstChild = homeWrapper.firstChild;
            homeWrapper.insertBefore(newBidItem, firstChild);
          }

          innerTextArr.forEach((card, index) => {

            const itemName = innerTextArr[index];
            if(itemName === passedText)
            {
              document.getElementById('main-product').innerText = itemName;
              document.getElementById('main-product-desc').innerText = innerDescArr[index];
              document.getElementById('main-product-name').innerText = itemName;
              currentProduct = passedText;
            }
          });


            if (carouselItems.length > 0) {

              carousel.removeChild(carouselItems[0]);
              carousel.appendChild(newItem);
            }

          if(cnt == 0)
          {
            var currentProduct = document.querySelector('.product-info h1').innerText;
            cnt++;
          }
        }
      }

    
      function isItemInCarousel(itemName, carouselItems) {

        var item = carouselItems[0].querySelector('h2').innerText;
        if (item === itemName) {
          return true;
        }

        return false;
      }

      function generateUniqueNumbers(count, max) {
          if (count <= max) {
              throw new Error("Count must be greater than max.");
          }

          const uniqueNumbers = new Set();

          while (uniqueNumbers.size < count) {
              const randomNumber = Math.floor(Math.random() * count);
              uniqueNumbers.add(randomNumber);
          }
          return Array.from(uniqueNumbers);
      }

      var cards = document.querySelectorAll('.carousel .card');

      cards.forEach(card => {
        card.addEventListener('click', function() {
          // console.log("BRO");
          var itemName = card.querySelector('h2').innerText;
          addNewItem(itemName);
        });
      });

      document.querySelector('.carousel').addEventListener('click', function(event) {
          if (event.target.classList.contains('card')) {
            
            var itemName = event.target.querySelector('h2').innerText;
            addNewItem(itemName);

          const refItems = ref(database, 'ideas');

          get(refItems)
                  .then((snapshot) => {
                      if (snapshot.val() !== null) {
                          const ideasData = snapshot.val();
                          var itemName = document.querySelector('.product-info h1').innerText;

                          // Iterate through the ideasData to find a match
                          let matchingRootName;
                          let matchingIdeaTitle;

                          for (const rootName in ideasData) {
                              for (const ideaTitle in ideasData[rootName]) {
                                  if (ideasData[rootName][ideaTitle] === itemName) {
                                      matchingRootName = rootName;
                                      matchingIdeaTitle = ideaTitle;
                                      break;
                                  }
                              }
                              if (matchingRootName && matchingIdeaTitle) {
                                  break;
                              }
                          }

                          if (matchingRootName && matchingIdeaTitle) {
                            //Update according to bid value
                            const refItems = ref(database, `ideas/${matchingRootName}/bid`);

                            // Attach an event listener to retrieve the items
                            const bidArray = [];
                            onValue(refItems, (snapshot) => {
                              bidArray.length = 0;
                              snapshot.forEach((childSnapshot) => {
                                const keyItem = childSnapshot.key;
                                const dataItem = childSnapshot.val();
                                bidArray.push({ key: keyItem, data: dataItem });
                              });

                              bidArray.sort((a, b) => b.data.bid - a.data.bid);

                              updateUIWithBids(bidArray, bidArray.length);
                            });

                          } else {
                              alert(`No match found for itemName ${itemName}`);
                          }
                      } else {
                          alert("No data found in 'ideas'");
                      }
                  })
                  .catch((error) => {
                      //console.log(error);
                  });
          }
      });

      function updateUIWithBids(bidArray, bidArrayLen) {
        let persons = [];
        let bids = [];
        let highestBidEntry = document.getElementById("highest-bid-entry");
        

        for(let i=0; i < 10; i++)
        {
          //console.log(bidArray[i]);
          persons.push(document.getElementById(`person${i + 1}`));
          bids.push(document.getElementById(`bid${i + 1}`));
        }

        for (let i = 0; i < 10; i++) {
          if (bidArray[i]) {
            // If bidArray has a value at the current index
            persons[i].innerText = bidArray[i].data.name;
            bids[i].innerText = bidArray[i].data.bid;
            highestBidEntry.innerText = "$ " + bidArray[0].data.bid;
        } else {
            // If bidArray is null or undefined at the current index
            persons[i].innerText = "Nobody";
            bids[i].innerText = "0";
        }
        }
      }
     

      document.body.addEventListener('click', (e) => {
        if (e.target.id === 'submitData') {
            e.preventDefault();
            const bidValue = document.getElementById('bid').value;
            const db = getDatabase();
            var itemName = document.querySelector('.product-info h1').innerText;

            // Reference to 'ideas'
            const ideasRef = ref(db, 'ideas');
            // Read all data under 'ideas'
            get(ideasRef)
                .then((snapshot) => {
                    if (snapshot.val() !== null) {
                        const ideasData = snapshot.val();
                        // Iterate through the ideasData to find a match
                        let matchingRootName;
                        let matchingIdeaTitle;
                        for (const rootName in ideasData) {
                            for (const ideaTitle in ideasData[rootName]) {
                                if (ideasData[rootName][ideaTitle] === itemName) {
                                    matchingRootName = rootName;
                                    matchingIdeaTitle = ideaTitle;
                                    break;
                                }
                            }
                            if (matchingRootName && matchingIdeaTitle) {
                                break;
                            }
                        }
                        if (matchingRootName && matchingIdeaTitle) {
                            const timestamp = Date.now();

                            // Use matchingRootName and matchingIdeaTitle to construct the path for writing data
                            const itemDataRef = ref(db, `ideas/${matchingRootName}/bid/${timestamp}`);

                            set(itemDataRef, {
                                name: `${UserInfo.firstname} ${UserInfo.lastname}`,
                                bid: bidValue
                            })
                                .then(() => {
                                    alert("Data added successfully");
                                })
                                .catch((error) => {
                                    alert("Unsuccessful");
                                    //console.log(error);
                                });
                        } else {
                            alert(`No match found for itemName ${itemName}`);
                        }
                    } else {
                        alert("No data found in 'ideas'");
                    }
                })
                .catch((error) => {
                    //console.log(error);
                });
        }
    });

      

    </script>
  </body>
</html>

