<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      type="text/css"
    />
    <script src="{{ url_for('static', filename='home.js') }}" defer></script>
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <a href="home.html">
          <div class="image-text">
            <span class="image">
              <i class="fa-solid fa-house"></i>
            </span>

            <div class="text header-text">
              <span class="project-title">SIGMA</span>
            </div>
          </div>
        </a>
        <i class="fa-solid fa-arrow-left-long"></i>
      </header>

      <div class="menu">
        <div class="selection">
          <ul class="selection-links">
            <li class="link">
              <a href="busidea.html">
                <i class="fa-solid fa-briefcase"></i>
                <span class="text"> Sell </span>
              </a>
            </li>
            <li class="link">
              <a href="buy.html">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="text"> Buy </span>
              </a>
            </li>
            <li class="link">
              <a href="merge.html">
                <i class="fa-solid fa-clone"></i>
                <span class="text"> Merge </span>
              </a>
            </li>
            <li class="link">
              <a href="CDN/conference.html">
                <i class="fa-solid fa-handshake"></i>
                <span class="text"> Conference </span>
              </a>
            </li>

            <li class="link" id="signoutbutton">
              <a href="">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="text"> Sign Out </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="home">
      <section>
        <div id="main-page">
          <img id="background-img" src="static/assets/road.png" />
          <h1 id="main-title">SIGMA</h1>
          <img id="two-chads" src="static/assets/main_chads.png" />
        </div>
      </section>
      <section>
        <div id="break-1">

          <p>

            Sigma stands as a pioneering platform, uniquely engineered to elevate and transform today’s business landscape through the infusion of innovative ideas. 
            Our core mission is to spark progress and kindle the flames of entrepreneurial success, providing a curated collection of business concepts that are at once 
            novel and in sync with evolving market dynamics. As a crucible of creativity, Sigma welcomes thinkers and makers at every echelon, from the fledgling entrepreneur 
            to the seasoned innovator, offering a fertile ground where imaginative solutions are not only appreciated but also transformed into lucrative realities. It's a 
            place where the boundaries of convention are redefined and where the future of commerce is being shaped, today and tomorrow.
            </p>
          
            <p>
              Within our vibrant ecosystem, ideas are the currency of growth, and collaboration is the bedrock of advancement. We are committed to cultivating a rich soil for 
              development, where synergy between visionaries is not just encouraged but is the norm. Sigma is the arena where abstract concepts are meticulously crafted into
               concrete opportunities, and where creators can see their brainchildren mature into market-ready phenomena. This is where strategic partnerships flourish, and 
               innovative pathways are forged, paving the way for a new era of business excellence. Join the ranks of Sigma, where your brightest ideas are poised to meet their
                greatest potential and ascend to new heights of market triumph, amidst a community of like-minded pioneers.            
            </p>
        </div>
      </section>
      <section>
        <div id="first-page">
          <img id="background-img" src="static/assets/auction.png" />
          <div id="selling-title">
            <h1>SELL</h1>
            <h1>YOUR IDEAS!</h1>
          </div>
          <img id="two-selling-chads" src="static/assets/selling-chads.png" />
        </div>
      </section>
      <section>
        <div id="break-2">
          <p>
            Your innovative musings are far more than merely distinctive; they embody the very 
            essence of your ascent to success. In this spirit, Sigma cordially beckons you to 
            exhibit the full spectrum of your intellectual riches, providing a prestigious stage 
            upon which to trade your visionary concepts. Our platform is not just a marketplace, but 
            a launching pad for ingenuity, where you can monetize your most groundbreaking ideas. Here 
            at Sigma, your creativity is not just celebrated—it is the catalyst that propels you towards 
            the pinnacle of accomplishment.

          </p>

          <p>
            Delve into the Sigma experience, where your unique insights are treasured as the cornerstone 
            of professional achievement. We offer a haven for the commercialization and exchange of what
             you have so meticulously crafted in the recesses of your mind. By partnering with us, you 
             take the reins in steering your original ideas to market success, underpinned by the vigor 
             of your own creative forces. Embrace this opportunity with Sigma, a confluence of visionary 
             talents, and witness the metamorphosis of your intellectual contributions into tangible 
             triumphs. Stand with us at the vanguard of innovation, where your cerebral creations find 
             their perfect match, and your entrepreneurial journey unfolds in ways you have always
              envisioned.
          </p>
        </div>
      </section>
      <section>
        <div id="first-page">
          <img id="background-img" src="static/assets/startup.png" />
          <div id="buying-title">
            <h1>BUY</h1>
            <h1>IDEAS!</h1>
          </div>
          <img id="two-buying-chads" src="static/assets/buying-chads.png" />
        </div>
      </section>
      <section>
        <div id="break-3">
          <p>
            Embark on an intellectual odyssey with Sigma, a realm where your unique insights 
            are not merely distinctive—they are the cornerstone of success. Sigma offers an 
            illustrious platform where you can impart your ingenious concepts and transform 
            them into profitable realities. This is a call to action for all visionaries to 
            monetize their cerebral creations by engaging with a community that values the 
            currency of innovation.
          </p>

          <p>
            At Sigma, we celebrate the entrepreneurs and thinkers who dare to disrupt the status 
            quo. We invite you to commercialize your trailblazing ideas in a marketplace that reveres 
            intellectual prowess. Let your creative spirit be the architect of your fortune as you 
            navigate through Sigma’s ecosystem, designed to amplify the potential of your ideas.
          </p>

          <p>
            Seize this unparalleled opportunity to not just sell, but to see your ideas ignite 
            transformative ventures. Our platform is a crucible for creativity, where your unique 
            contributions can flourish and command the attention they deserve. With Sigma, you join 
            a synergistic network where the demand for visionary thought is met with the reverence it 
            commands, ensuring that your intellectual investments yield extraordinary dividends.
          </p>
        </div>
      </section>
      <section>
        <div id="first-page">
          <img id="background-img" src="static/assets/whiteboard.png" />
          <div id="report-title">
            <h1>GET</h1>
            <h1>REPORTS</h1>
          </div>
          <img id="two-report-chads" src="static/assets/report_chads.png" />
        </div>
      </section>
      <section>
        <div id="break-4">
          <p>
            Your creative insights are not simply unique; they represent a valuable currency in 
            the economy of success. At Sigma, we recognize the transformative power of innovative 
            thinking and extend an exclusive invitation for you to capitalize on your intellectual 
            assets. Our platform isn’t just a showcase—it's a vibrant commercial hub where your 
            groundbreaking ideas can be sold to those who see their potential. With Sigma, your 
            ingenuity is the key that unlocks new realms of prosperity.
            </p>
            <p>
              Sigma heralds a new era for the commerce of creativity, where your thoughts are traded 
              as prized assets. We provide a sophisticated venue for visionaries to disseminate their 
              original ideas to a discerning clientele eager to invest in the next wave of innovation. 
              By selling your ideas on Sigma, you catalyze a chain reaction of success, with your 
              creativity serving as the cornerstone.
            </p>

            <p>
              For those on the quest to buy, Sigma stands as a beacon of pioneering concepts ripe for 
              acquisition. Here, purchasers can delve into a curated repository of ideas that promise to 
              shape the future, each one a gem gleaned from the minds of our generation's most brilliant 
              thinkers. Sigma is not just a marketplace; it's a tapestry of potential, a network where 
              connoisseurs of innovation can acquire the seeds of tomorrow's industries and cultivate 
              them into enterprises of staggering impact.
            </p>
        </div>
      </section>
      <section>
        <div id="first-page">
          <img id="background-img" src="static/assets/conference.png" />
          <div id="conference-title">
            <h1>HAVE</h1>
            <h1>CONFERENCES</h1>
          </div>
          <img id="two-conference-chads" src="static/assets/conference-chads.png" />
        </div>
      </section>
      <section>
        <div id="break-5">
          <p>

            Sigma is not merely a digital agora; it's a confluence of minds and visions. We proudly host 
            a series of prestigious conferences, symposiums, and workshops that serve as the nexus for 
            innovators, investors, and thought leaders from across the globe. These gatherings are 
            designed to foster a collaborative environment where ideas can be pitched, critiqued, and 
            brought to fruition in the company of peers who share a commitment to progress and a passion 
            for the new.
          </p>

          <p>
            Our conferences are more than events; they are incubators for success. Here, in these 
            hallowed forums of exchange, you have the opportunity to present your ideas on stages that 
            can turn concepts into capital. Every handshake has the potential to spark a partnership, 
            every conversation a chance to sow the seeds of the next big venture. Sigma's events are 
            meticulously curated to ensure that every interaction is an opportunity to advance and expand 
            your horizons.
          </p>

          <p>
            Participate in our expert-led panels, where current trends and future forecasts are debated, 
            giving you insights into the market's pulse. Engage in roundtable discussions that challenge 
            the status quo and redefine what's possible. At Sigma conferences, you're not just attending 
            an event; you're immersing yourself in an experience that celebrates innovation and commerce 
            in equal measure.
          </p>
        </div>
      </section>
    </section>

    <script src={{ url_for('static', filename='home.js') }}></script>

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      import {
        getAuth,
        onAuthStateChanged,
        createUserWithEmailAndPassword,
        signInWithEmailAndPassword,
        signOut,
      } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";
      import {
        getDatabase,
        set,
        ref,
        update,
      } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-database.js";

      const firebaseConfig = {
        apiKey: "AIzaSyDjkrTL8wn8RSLjWoHbq6FVdpBBPJEjXZg",
        authDomain: "sigma-50b08.firebaseapp.com",
        databaseURL: "https://sigma-50b08-default-rtdb.firebaseio.com",
        projectId: "sigma-50b08",
        storageBucket: "sigma-50b08.appspot.com",
        messagingSenderId: "881262508411",
        appId: "1:881262508411:web:573e358cf20526dcfc25de",
      };

      let UserCreds = JSON.parse(sessionStorage.getItem("user-creds"));
      let UserInfo = JSON.parse(sessionStorage.getItem("user-info"));

      let SignoutBtn = document.getElementById("signoutbutton");



      // const auth = getAuth();
      const app = initializeApp(firebaseConfig);
      const auth = getAuth();
      const database = getDatabase(app);
      const dbref = ref(database);

      auth.onAuthStateChanged((user) => {
        if (user) {
          // User is signed in
          const uid = user.uid;
          console.log("User is signed in:", uid);
          // Update UI or perform actions for signed-in user
        } else {
          // User is signed out
          console.log("User is signed out");
          // Update UI or perform actions for signed-out user
        }
      });

      window.addEventListener("load", CheckCred);
      SignoutBtn.addEventListener("click", Signout);
    </script>
  </body>
</html>
