<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Buying Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product.css') }}" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      type="text/css"
    />
    <script src="buy.js" defer></script>
    <script src="/SIGMA2.0-master/static/product.js"></script>
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <a href="home.html">
        <div class="image-text">
          <span class="image">
            <i class="fa-solid fa-house"></i>
          </span>

          <div class="text header-text">
            <span class="project-title">SIGMA</span>
          </div>
        </div>
      </a>
        <i class="fa-solid fa-arrow-left-long"></i>
      </header>

      <div class="menu">
        <div class="selection">
          <ul class="selection-links">
            <li class="link">
              <a href="business-idea.html">
                <i class="fa-solid fa-house"></i>
                <span class="text"> Sell </span>
              </a>
            </li>
            <li class="link">
              <a href="buy.html">
                <i class="fa-solid fa-house"></i>
                <span class="text"> Buy </span>
              </a>
            </li>
            <li class="link">
              <a href="merge.html">
                <i class="fa-solid fa-house"></i>
                <span class="text"> Merge </span>
              </a>
            </li>
            <li class="link">
              <a href="CDN/conference.html">
                <i class="fa-solid fa-house"></i>
                <span class="text"> Conference </span>
              </a>
            </li>
            <li class="link" id='signoutbutton'>
                <a href="">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <span class="text"> Sign Out </span>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="home">
      <div class="title_bar">
        <h1 id="heading">Smart Shipping System</h1>
      </div>
      <div id="profile-pic-holder">
          <a href="#" class="profile-link">
            <img src="/SIGMA2.0-master/static/assets/profile_pic.jpg" alt="Profile Picture" class="profile-pic">
          </a>
      </div>
      <div class="content">
        <div class="contain-description">
          <h1 id="description">Description :</h1>
                  <div id="ideas-container">
</div>
          <div class="slide">
            <img src="/SIGMA2.0-master/static/assets/smart-shipping-system.png" alt="Image 1">
          </div>
        </div>
        <div class="contain-carousel">
          <div class="display-picture">
            <div class="carousel" data-carousel>
              <button class="carousel-button prev" data-carousel-button = 'prev'>&#8656</button>
              <button class="carousel-button next" data-carousel-button = 'next'>&#8658</button>
              <ul data-slides>
                <li class="slide"data-active>
                  <img src="/SIGMA2.0-master/static/assets/smart-shipping-system.png" alt="Image 1">
                </li>
                <li class="slide">
                  <img src="/SIGMA2.0-master/static/assets/profile_pic.jpg" alt="Image 2">
                </li>
                <li class="slide">
                  <img src="/SIGMA2.0-master/static/assets/whiteboard.png" alt="Image 3">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bid-button">
        <a class="bid" href="auction-page.html"> Bid </a>
      </div>
    </section>
    <script src={{ url_for('static', filename='home.js') }}></script>

    <script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
  import { getDatabase, ref, get } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-database.js";
  import { getAuth } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";


  
  const firebaseConfig = {
     apiKey: "AIzaSyDjkrTL8wn8RSLjWoHbq6FVdpBBPJEjXZg",
     authDomain: "sigma-50b08.firebaseapp.com",
     databaseURL: "https://sigma-50b08-default-rtdb.firebaseio.com",
     projectId: "sigma-50b08",
    storageBucket: "sigma-50b08.appspot.com",
     messagingSenderId: "881262508411",
    appId: "1:881262508411:web:573e358cf20526dcfc25de"
          };
  
          const app = initializeApp(firebaseConfig);
  const database = getDatabase(app);
  export const auth = getAuth(app);

//asynchronize
const getIdeaByUid = async (uid) => {

  //ref
  const ideaRef = ref(database, ideas/${uid});
  try {

    //fetch data
    const snapshot = await get(ideaRef);

    //wrap data
    if (snapshot.exists()) {
      return { [uid]: snapshot.val() }; 
    } else {
      console.log("No data available for this UID");
      return null;
    }
  } catch (error) {
    console.error(error);
    return null;
  }
};

const displayIdeas = (ideas) => {
  const container = document.getElementById('ideas-container');
  if (!container) {
    console.error('The ideas container does not exist in the DOM');
    return;
  }

  if (!ideas) {
    container.innerHTML = '<p>No ideas available.</p>';
    return;
  }

  container.innerHTML = ''; 

  //return array for specific uid
  const [uid, idea] = Object.entries(ideas)[0];

  const ideaElement = document.createElement('div');
  ideaElement.innerHTML = `
    <div>
      <p>Idea Category: ${idea.category || 'No Category'}</p>
      <p>Project Duration: ${idea.duration || 'No Duration'}</p>
      <p>Email: ${idea.email || 'No Email'}</p>
      <p>Description: ${idea.ideaDescription || 'No Description'}</p>
      <p>Idea Title: ${idea.ideaTitle || "No Idea Title"}</p>
      <p>Idea Content: ${idea.ideaContent || "No Idea Content"}</p>

    </div>
  `;
  container.appendChild(ideaElement);
};

const uid = '2f16a2d2-3466-4cb1-9286-266669519bf4'; 
getIdeaByUid(uid).then(idea => {
  displayIdeas(idea);
});

</script>

  </body>
</html>
<div class="slide">

