<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Product Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product.css') }}" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      type="text/css"
    />
    <script src="buy.js" defer></script>
    <script src="product.js"></script>
  </head>
  <body>
    <nav class="sidebar close">
      <header>
        <a href="home.html">
          <div class="image-text">
            <span class="image">
              <i class="fa-solid fa-house"></i>
            </span>

            <div class="text header-text">
              <span class="project-title">SIGMA</span>
            </div>
          </div>
        </a>
        <i class="fa-solid fa-arrow-left-long"></i>
      </header>

      <div class="menu">
        <div class="selection">
          <ul class="selection-links">
            <li class="link">
              <a href="busidea.html">
                <i class="fa-solid fa-briefcase"></i>
                <span class="text"> Sell </span>
              </a>
            </li>
            <li class="link">
              <a href="buy.html">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="text"> Buy </span>
              </a>
            </li>
            <li class="link">
              <a href="merge.html">
                <i class="fa-solid fa-clone"></i>
                <span class="text"> Merge </span>
              </a>
            </li>
            <li class="link">
              <a href="https://junjie237.github.io/zoomconferenceAPI/">
                <i class="fa-solid fa-handshake"></i>
                <span class="text"> Conference </span>
              </a>
            </li>

            <li class="link" id='signoutbutton'>
              <a href="">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="text"> Sign Out </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="header-container">
      <img class="header-image" id="head-img" src="" alt="" />
      <div id="profile-picture">
        <img class="bid-image" id="bid-img" src="" alt="" />
      </div>
      <h1 id="heading">Business Idea Title</h1>
          
  </div>

  <div class="details-container">
      <div class="large-detail-box">
          <p id="description">Description: </p>
          <p id="category">Category: <span id="category-value">Value</span></p>
          <p id="target">Target User: <span id="target-value">Value</span></p>
          <p id="expense">Expense: <span id="expense-value">Value</span></p>
          <p id="duration">Duration: <span id="duration-value">Value</span></p>

      </div>

      <a href="#" class="bid-button"  data-id="${key}">Place Bid</a>
      <script>

      </script>
  </div>

    <script src={{ url_for('static', filename='home.js') }}></script>

<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
  import { getDatabase, ref, get } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-database.js";
  import {onAuthStateChanged,
        createUserWithEmailAndPassword,
        signInWithEmailAndPassword,
        signOut } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";
  import { getAuth } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-auth.js";
  const firebaseConfig = {
  apiKey: "AIzaSyCHM89ye4am5OJ8_vqmB06jGe94nudRwfw",
  authDomain: "sigma-cd3c3.firebaseapp.com",
  databaseURL: "https://sigma-cd3c3-default-rtdb.firebaseio.com",
  projectId: "sigma-cd3c3",
  storageBucket: "sigma-cd3c3.appspot.com",
  messagingSenderId: "408292470548",
  appId: "1:408292470548:web:a485bd0b2775552c7bdc01",
  measurementId: "G-DKWKJNTY66"
};
  
const app = initializeApp(firebaseConfig);
  const database = getDatabase(app);
  export const auth = getAuth(app);
  
  
  
  let SignoutBtn = document.getElementById("signoutbutton");
      
      let Signout = () => {
        sessionStorage.removeItem("user-creds");
        sessionStorage.removeItem("user-info");
        signOut(auth);
        window.location.href = "login.html";
      };

      let CheckCred = () => {
        if (!sessionStorage.getItem("user-creds"))
          window.location.href = "login.html";
      };

      auth.onAuthStateChanged((user) => {
      if (user) {
        // User is signed in
        const uid = user.uid;
        console.log("User is signed in:", uid);
        // Update UI or perform actions for signed-in user
      } else {
        // User is signed out
        console.log("User is signed out");
        // Update UI or perform actions for signed-out user
      }
    });

    window.addEventListener('load', CheckCred);
    SignoutBtn.addEventListener('click', Signout); 
  

  
  
  
  const params = new URLSearchParams(window.location.search);
  const uid = params.get('uid');
  //console.log(uid)
//asynchronize
const getIdeaByUid = async (uid) => {

  //ref
  const ideaRef = ref(database, `ideas/${uid}`);
  try {

    //fetch data
    const snapshot = await get(ideaRef);

    //wrap data
    if (snapshot.exists()) {
      return { [uid]: snapshot.val() }; 
    } else {
      console.log("No data available for this UID");
      return null;
    }
  } catch (error) {
    console.error(error);
    return null;
  }
};

const displayIdeas = (ideas) => {
  // Get the heading and passage elements from the DOM.
  const headingElement = document.getElementById('heading');
  const descriptionElement = document.getElementById('description');
  const categoryElement= document.getElementById('category');
  const targetElement= document.getElementById("target");
  const expElement =document.getElementById("expense");
  const durationElement=document.getElementById("duration");
  const bidimage= document.getElementById('bid-img');
  const headimage= document.getElementById('head-img');

  // Check if the elements exist in the DOM.
  if (!headingElement || !descriptionElement || !categoryElement || !targetElement || !expElement) {
    console.error('The heading or passage element does not exist in the DOM');
    return;
  }

  if (!ideas) {
    headingElement.textContent = 'No Idea Title';
    descriptionElement.textContent = 'No Description';
    categoryElement.textContent='No Category';
    targetElement.textContent='No Target User';
    expElement.textContent='No Expense';
    durationElement.textContent='No Duration';
    return;
  }

  // Extract the first entry of the ideas object.
  const [uid, idea] = Object.entries(ideas)[0];

  // Update the heading and passage with the idea title and description.
  headingElement.textContent = idea.ideaTitle || "No Idea Title";
  descriptionElement.textContent = `Description: ${idea.ideaDescription || 'No Description'}`;
  categoryElement.textContent = `Category: ${idea.category || 'No Category'}`;
  targetElement.textContent = `Target User: ${idea.targetUser || 'No Target User'}`;
  expElement.textContent = `Expense: ${idea.expenses || 'No Expense'}`;
  durationElement.textContent = `Duration: ${idea.duration || 'No Duration'}`;
  if (idea.ideaTitle ) {
    bidimage.src = `data:image/png;base64,${idea.image}`;
    headimage.src = `data:image/png;base64,${idea.image}`;
    bidimage.alt = 'Idea Image'; // Set alt text for accessibility
  } else {
    bidimage.src = ''; // Clear the image source if no URL is provided
  }

};


console.log('uid in product')

if (uid) {
  getIdeaByUid(uid).then(idea => {
    displayIdeas(idea);
  });
} else {
  console.log('UID parameter is missing in the URL');
}

const bidButtons = document.querySelectorAll('.bid-button');
            bidButtons.forEach(button => {
                button.addEventListener('click', redirectToDetailPage);
            });

  function redirectToDetailPage(event) {
        const ideaId = uid;
        console.log(ideaId)
        const detailPageUrl = `auction-page.html?uid=${ideaId}`;
        window.location.href = detailPageUrl;
        }
console.log('Uid in passing')

</script>
  </body>
</html>