* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', Courier, monospace;
}

body {
  height: 100%;
  background-color: rgb(18, 35, 51);
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', Courier, monospace;
}

header .fa-house,  .fa-handshake, .fa-clone, .fa-briefcase,.fa-arrow-from-bracket, .text {
  color: white;
  cursor: pointer;
}


nav .fa-right-from-bracket {
  color: white;
  cursor: pointer;
}

.menu {
  /* background-color: yellow; */
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 50px 25px;
  background-color: rgb(37, 64, 88);
  transition: 0.2s;
  z-index: 2;
}

.sidebar .image-text i {
  font-size: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .header-text {
  display: flex;
  align-items: flex-end;
  height: 50px;
  transition: 0.2s;
}

.header-text .project-title {
  font-size: 35px;
  font-weight: 800;
}

.image {
  padding-right: 15px;
}

.sidebar header .fa-arrow-left-long{
  position: absolute;
  right: -20px;
  top: 5%;
  font-size: 20px;
  /* transform: rotate(180deg); */
  background-color: white;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  z-index: 900;
}

.sidebar header .fa-arrow-left-long:hover {
  background-color: rgb(46, 172, 104);
}

.sidebar li {
  list-style: none;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  /* background-color: green; */
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

.sidebar li .fa-house, .sidebar li .fa-cart-shopping,.sidebar li  .fa-handshake, .sidebar li .fa-clone, .sidebar li .fa-briefcase 
{
  font-size: 25px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar li .fa-right-from-bracket {
  font-size: 25px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li .text {
  font-size: 20px;
  transition: 0.2s;
  opacity: 1;
}

.sidebar li .fa-house, .fa-cart-shopping, .fa-handshake, .fa-clone, .fa-briefcase,.fa-arrow-from-bracket, .text {
  color: white;
}

.sidebar li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
  border-radius: 10px;
  
}

.sidebar li a:hover {
  background-color: rgb(46, 172, 104);
  border-radius: 10px;
}

.sidebar li a:hover .fa-house,
.sidebar li a:hover .text,
.sidebar li a:hover .fa-right-from-bracket
{
  color: rgb(37, 64, 88);
}


.sidebar li .fa-house, .fa-money-bill, .fa-cart-shopping, .fa-handshake, .fa-clone, .fa-briefcase,.fa-arrow-from-bracket,
.sidebar li .text {
  transition-duration: 0.3s;
}

.sidebar .selection-links {
  /* background-color: orange; */
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  padding-left: 0;
}

.sidebar .selection {
  height: 100%;
}

.sidebar.close {
  width: 60px;
}

.sidebar.close .text{
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
}

.sidebar.close .fa-arrow-left-long {
  transform: rotate(180deg);
}

.sidebar.close ~ .home {
  position: relative;
  left: 110px;
  height: 100vh;
  width: calc(100% - 110px);
  padding: 0;
  margin: 0;
}

.home {
  position: relative;
  height: 100vh;
  left: 300px;
  width: calc(100% - 300px);
  transition: 0.2s;
  z-index: 0;
}

.home .text {
  font-size: 30px;
  font-weight: 700;
  color: grey;
  padding: 50px 25px 40px 25px;
  cursor: default;
  z-index: 1;
}

.home .home-title {
  display: flex;
  /* background-color: red; */
  width: 300px;
  justify-content:flex-end;
  align-items: center;
  z-index: 1000;
}

.home .home-title .image {
  font-size: 40px;
  padding: 0;
}

#sigmatitle{
  justify-content: center;
  font-size: 40px;
  align-items: center;
  color:white;
}

#firstcontent{
  justify-content: center;
  font-size: 30px;
  align-items: center;
  color:white;
}

#main-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  margin: 0;
}


#first-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
#background-img {
  min-width: 100%;
  min-height: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  top: 0;
  left: 0;
  z-index: -4;
}

#main-title {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  object-fit: cover;
  z-index: -3;
  top: 50px;
  font-size: 240px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#selling-title {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  text-align: center;
  flex-direction: column;
  object-fit: cover;
  z-index: -1;
  top: 200px;
  font-size: 120px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#buying-title {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  text-align: center;
  flex-direction: column;
  object-fit: cover;
  z-index: -3;
  top: 200px;
  font-size: 120px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#report-title {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  text-align: center;
  flex-direction: column;
  object-fit: cover;
  z-index: -1;
  top: 200px;
  font-size: 120px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#conference-title {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  text-align: center;
  flex-direction: column;
  object-fit: cover;
  z-index: -3;
  top: 200px;
  font-size: 120px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#two-chads {
  position: fixed;
  z-index: -2;
  
  min-height: 100vh;
  max-height: 100vh;
  top: 100px;
}


#break-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #06203b;
  color: #fff;
  padding: 50px;
  height: 500px;
  z-index: 1;
  animation-name: slideIn;
  animation-duration: 1s; 
  position: relative;

}

#sigmatitle {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px;
}

#firstcontent {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

#break-1 p {
  font-size: 1.25rem;
  line-height: 1.6;
}


#break-2 {
  position: relative;
  background-color: #06203b;
  height: 500px;
  z-index: 1;
  animation-name: slideIn;
  animation-duration: 1s;
  text-align: center; 
  padding: 40px 0; 
  color: white;

}

#break-2 h2 {
  color: white; 
  margin-bottom: 20px; 
  font-size: 2.5rem; 
}


.ideas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  align-items: flex-start;
}

.idea {
  background-color: #0077aa; 
  border-radius: 10px;
  border: solid 2px  rgba(228, 191, 191, 0.822); 
  margin: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; 
  margin-bottom: 30px;
  box-shadow: 0 8px 16px 0 rgba(235, 229, 229, 0.2); 

}

.idea img {
  width: 100px; 
  height: auto;
  margin-bottom: 15px;
}

.idea p {
  font-size: 1.2rem;
}

#break-3 {
  position: relative;
  animation-name: slideIn;
  animation-duration: 1s;
  background-color: #06203b;
  height: 500px;
  z-index: 1;
  text-align: center;
  padding: 40px 0; 


}

#break-3 h2 {
  color: rgb(184, 180, 180); 
  font-size: 1.5rem; 
  margin-top: 20px;
}

#break-3 .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#break-3 .step-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #0077aa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  
}

#break-3 .icon-container {
  margin-right: 20px;
}

#break-3 .step-content p {
  text-align: left;
}

#break-3 .icon {
  width: 100px; 
  height: auto;
}

#break-3 .step-content {
  flex: 1;
}




#break-4 {
  position: relative;
  background-color: #06203b;
  height: 500px; 
  z-index: 1;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 40px 0; 
}

#break-4 h2 {
  color: white;
  font-size: 2.5rem; 
  margin: 0; 
  padding-bottom: 20px; 
}

#break-4 .container_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

.card {
  border: 2px solid #ffffff; 
  background-color: #007bff; 
  color: white;
  margin: 10px;
  padding: 40px; 
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.card .card-content {
  font-size: 1.5rem; 
}

.operator {
  font-size: 3rem; 
  color: white;
  margin: 0 20px; 
}

#break-5 {
  position: relative;
  animation-name: slideIn;
  animation-duration: 1s;
  background-color: #06203b;
  height: 300px;
  z-index: 1;
}

#break-5 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#break-5 .icon-container {
  margin: 0 10px;
  text-align: center;
}

#break-5 .icon {
  width: 200px; 
  height: auto;
}



#break-5 .label {
  display: block;
  margin-top: 5px;
  font-size: 20px;
  color:white;
}

.arrow {
  width: 50px; 
  height: 50px; 
  background-color: #ffffff; 
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); 
  margin: 20px auto;
}

#arrow-left {
  transform: rotate(90deg); 
}

#arrow-right {
  transform: rotate(-90deg); 
}



p {
  padding: 2%;
  color: #ffffff;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}
#two-selling-chads {
  position: fixed;
  z-index: -2;
  min-height: 100vh;
  max-height: 100vh;
  top: 100px;
  display:none;
}


#two-buying-chads {
  position: fixed;
  z-index: -2;
  min-height: 100vh;
  max-height: 100vh;
  top: 100px;
  display:none;
}

#two-report-chads {
  position: fixed;
  z-index: -2;
  min-height: 100vh;
  max-height: 100vh;
  top: 100px;
  display:none;
}

#two-conference-chads {
  position: fixed;
  z-index: -2;
  min-height: 100vh;
  max-height: 100vh;
  top: 100px;
  display:none;
}




.slide-in {
  animation-name: slideIn;
  animation-duration: 2s;
  animation-fill-mode: both; 
}

@keyframes slideIn {
  from { transform: translateX(-400px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}



